#imagem {
width: 450px;
height: 300px;
border-radius: 10px;
display: flex;
justify-content: center;

}

header {
    justify-content: center;
}

#perguntas {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    margin-bottom: 20px;
}
    

body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNGg5H9sBc92EXAGuNjCO-BFCfiCjrneLyOQ&s);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
button {
    background: linear-gradient(135deg, #00bfff, #4b00ff);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}
 

#respostas {
    display: flex;
    flex-direction: row;
}

.btn-resposta:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}
button:hover{
    transform: scale(1.08);
    background: linear-gradient(135deg, #4b00ff, #00bfff);
    box-shadow: 0 0 20px #00bfff;
}
